@charset "utf-8";


/* web font */
@font-face {
    font-family: 'SCoreDream';
    font-weight: 100; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
p,
ul,
ol,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
form,
textarea,
select,
option,
strong,
span,
em,
dl,
dt,
dd,
table,
th,
tr,
td,
img,
video {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SCoreDream';
    font-size: 14px;
    line-height: 24px;
    color: #444;
    font-weight: 300;

}

ul,
ol {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    min-width: 1400px;
}



/* header */

#header {
    height: 90px;
    width: 1320px;
    margin: 0 auto;
    position: relative;
    padding-top: 5px;
    box-sizing: border-box;
}

.gnb {
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: center;

}

.gnb> li> a {
    margin: 0 20px;
}


.gnb> li> a:hover{
    color: rgb(255,181,181);
    text-shadow: 1px 1px 20px;
}


.link {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 0;
}

.link li a {
    margin: 0 20px;
}

.link li a:hover{
    color: rgb(255,181,181);
    text-shadow: 1px 1px 30px;

}
.link li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    vertical-align: -1px;
    background-color: rgb(110, 110, 110);
}

.link li:nth-child(1)::before {
    display: none;
}


/* mainbanner */

#main_banner{
    position: relative;
}
.inner_main_banner img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    z-index: 4;
}

    
.inner_main_banner {
    position: relative;
    height: 740px;
    overflow: hidden;

}

.brand_story{
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -146px;
    z-index: 5;
    color: white;
    text-align: center; 

}

.brand_story h1{
    font-size: 50px;
    padding-bottom: 300px;
    
}

    
/* story */

.sleeper_story{
    text-align: center;
    padding: 50px 0 100px 0;
}


.sleeper_story h2{
    font-size: 60px;
    font-family: 'InkLipquid';
    line-height: 1.5em;
    font-weight: 300;
    padding-bottom: 30px;
}


.sleeper_story p{
    font-size: 23px;
    line-height: 1.5em;
}

.sleeper_story strong{
    color: rgb(85,106,143);
}



/* story img */

.sleeper_story2{
    overflow: hidden;
}

#story_1 {
    height: 500px;
    width: 1320px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 200px;

}

.story_wrap img{
    position: absolute;
    top: 0;
    left: -300px;
    z-index: -1;    
    box-shadow: 2px 2px 10px;
}


.story_info {
    text-align: right;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
}

.story_info h3, .story_info2 h3{
    font-size: 80px;
    line-height: 1.5em;
    font-weight: 500;
    color: rgb(84,84,84);
}

.story_info p, .story_info2 p{
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 1.5em;
}

.moon_icon img{
    position: absolute;
    top: 50px;
    right: -270px;
    animation: action1 10s infinite linear;
}

@keyframes action1 {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}

}


#story_2{
    height: 500px;
    width: 1320px;
    margin: 0 auto;
    position: relative;
}


.story_wrap2 img{
    position: absolute;
    top: 0;
    right: -300px;
    z-index: -3;    
    box-shadow: 2px 2px 10px;
}


.story_info2 {
    text-align: left;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}


.moon_icon2 img{
    position: absolute;
    top: 80px;
    left: -270px;
    animation: action2 10s infinite linear;
}

@keyframes action2 {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}

}




/* text flow  */

.animated{            
    /* background-color: #b4b4b4;  */
    padding: 200px 0;
    overflow: hidden;           
}
.track{
    font-size: 113px;
    color: rgb(85,106,143);
    font-family: 'InkLipquid';
    white-space: nowrap;
    animation: textflow1 8s linear infinite;
}

@keyframes textflow1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

#curation_section{
    background: url(../images/about_images/curation_bg.png) no-repeat center;
    height: 1796px;
    
}

.inner_section1{
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0 100px 0;

}

.inner_section1 h4{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 100px;
    color: black;


}


.curation_box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left_box, .right_box{
    padding-left: 50px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
}

.right_box{
    text-align: right;
    
}

.left_box p, .right_box p{
    padding-bottom: 25px;
}

.left_box strong, .right_box strong{
    color: rgb(47, 64, 94);
}


.inner_section2{
    width: 1320px;
    margin: 0 auto;

}

.inner_section2 h4{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 100px;
    color: black;

}

.inner_section2 ul{
    display: flex;
    justify-content: space-between;

}

.inner_section2 ul li{
    width: 400px;
    height: 400px;
  
}


.inner_section2 img{
    width: 100%;
    border-radius: 50%;
    display: block;

}


.line{
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: black;
}



.curation_value{
    position: relative;
    border-radius: 50%;
    overflow: hidden;  
    box-shadow: 3px 3px 20px;
    
}


.curation_value_text{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    opacity: 0;
}

.text{
    padding-bottom: 30px;
}
.text h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
}

.text h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.5em;
}

.text2 p{
    font-size: 30px;
    line-height: 1.3em;
}

.curation_value_img img{
    transform: scale(1);
    transition: all 1s;
    width: 100%;
    
}


.curation_value:hover .curation_value_img img{
    transform: scale(1.1);   

}



.curation_value:hover .curation_value_text{
    opacity: 1;
}

.curation_value_text .text{
    transform: translateY(-70px);
    transition: all 1s;
}

.curation_value:hover .text{
    transform: translateY(0);
}

.curation_value_text .text2{
    transform: translateY(30px);
    transition: all 1s;

}

.curation_value:hover .text2{
    transform: translateY(0);
} 


/* core section */

#core_section{
    width: 1320px;
    margin: 0 auto;

}
#core_section h1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 100px;

}

#core_section ul {
    display: flex;
    justify-content: space-between;
}
#core_section ul li{
    background: url(../images/about_images/core_value_bg.png) no-repeat center;
    width: 400px;
    height: 560px;
}

#core_section ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#core_section ul li:nth-child(3){
    padding-left: 20px;
}

/* 세부꾸미기  */
#core_section ul li h3{
    padding-top: 30px;
    font-size: 23px;
    font-weight: 600;
}

#core_section ul li h2{
    margin-top: 40px;
}

.core_text_wrap{
    padding-bottom: 70px;
    
}

.core_text_wrap strong{
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 20px;
}

.core_text_wrap p{
    font-size: 16px;
    font-weight: 400;
}


/*important_section  */



.important_section_wrap{
    background: url(../images/about_images/about_bg.png) no-repeat center bottom -120px;
    height: 1050px;
    padding: 50px 0 30px 0;


}


#important_section{
    width: 1320px;
    margin: 0 auto;
    /* padding: 50px; */
  

}

#important_section h1{
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: 900;
    padding-top: 200px;
}

.inner_important{
    margin-top: 100px;
}



#important_section ul{
    display: flex;
    justify-content: space-between;
    text-align: center;

}


/* 
 #important_section ul li{
     border: 1px solid #ddd;
    border-radius:  80px;
    box-shadow: 2px 2px 5px; 
}   */


.summary{
    width: 370px;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 1px solid #ddd;
    border-radius:  80px;
    box-shadow: 2px 2px 5px;
    background-color: #fff
    
}



.summary h2{
    font-size: 60px;
    font-family: 900;
    color: rgb(153,179,223);
    line-height: 1.5em;


}

.summary strong{
    display: inline-block;
    font-size: 20px;
    padding-bottom: 20px;

}

.summary p{
    font-size: 16px;
    font-weight: 400;
}



#downBtn{
    display: inline-block;
    background-color: rgb(153,179,223);
    border: none;
    color: white;
    padding: 5px 30px;
    margin: 30px 0 20px 0;
    border-radius: 50px;
    cursor: pointer;
}

#downBtn:hover{
    background-color: #ddd;
}



/* 아래쪽 글 */

.panel h2{
    font-size: 20px;
    padding: 30px 0;
}

.panel p{
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5em;
}

#upBtn{
    display: inline-block;
    background-color: rgb(153,179,223);
    border: none;
    color: white;
    padding: 5px 30px;
    margin: 20px 0;
    border-radius: 50px;
    cursor: pointer;
}


#upBtn:hover{
    background-color: #ddd;
}






/* top button */

.top_button{
    position: fixed;
    right: 40px;
    bottom: 20px;
}

/* footer */


#footer{
    background-color: rgb(11,27,65);
    height: 300px;
}

.inner_footer{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 12px;
    

}


.footer_link ul{
    display: flex;
    margin-right: 400px;
}

.footer_link ul li:nth-child(1){
    font-weight: 700;

}

.footer_link ul li {
    margin-right: 10px;
}

.footer_link ul:nth-child(1){
    font-weight: 700;
}
.sns_wrap {
    margin-right: 50px;
}

.sns_wrap ul{
    display: flex;
    justify-content: space-between;
  
}

.sns_wrap ul li a{
    display: inline-block;
    margin-left: 20px;
}
.sns_wrap p{
    text-align: right;
}
